.App {
  text-align: center;
}
table{
  border-collapse: collapse;
  width: 70vw;
  text-align: left;
  margin: auto;
}
table, th,tr,td{
  border:1px solid black;
}
tr,th,td{
  padding:8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.search-wrapper{
  margin:1rem;
}
.search{
  padding: 8px;
  width: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(36, 36, 236);
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}
button {
  padding: 8px 10px;
  background: rgb(36, 36, 236);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.page-container{
  margin: auto;
  width: 70vw;
}
input{
  padding: 7px;
  width: 260px;
}